@media (max-width: 375px) {
  .header {
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      // background: tomato;
    }
  }
  .header-top {
    display: none;
  }
  .header-body {
    grid-column: 1/ 6;
    // background: plum;
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 16px 0px;
    }
    &__user {
      border-radius: 3px;
      background: transparent;
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 25px;
      right: 55px;
      path {
        fill: #383838;
      }
    }
    &__address {
      display: none;
    }
    &__socials {
      display: none;
    }
    &__logo {
      grid-column: 1 / 4;
      img {
        width: 113px;
        height: 30px;
        object-fit: cover;
      }
    }
    &__tel {
      font-size: 16px;
      line-height: 19px;
      grid-column: 1 / 5;
    }
    &__form {
      max-width: 100%;
      grid-column: 1 / 7;
    }
    &__input {
      padding: 10px 16px;
    }
  }
  .header-nav {
    display: grid;
    justify-content: flex-end;
    order: -1;
    position: absolute;
    right: 0;
    top: 20px;
    &__menu {
      display: none;
    }
    &__catalog {
      justify-content: center;
      gap: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      span {
        display: none;
      }
    }
  }
  .footer {
    padding: 29px 0 32px;
  }
  .footer-body {
    &__inner {
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 29px;
      img {
        width: 106px;
        height: 30px;
      }
    }
    &__items {
      border-bottom: 1px solid #9c9c9c;
      border-top: 1px solid #9c9c9c;
      max-width: 100%;
    }
    &__items:nth-child(1) {
      margin-bottom: 32px;
      border: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__address {
      max-width: 100%;
      grid-column: 1 / 5;
    }
    &__time {
      grid-column: 1 / 4;
      margin-bottom: 32px;
    }
    &__mail {
      grid-column: 4 / 4;
      grid-row-start: 2;
      margin-bottom: 32px;
    }
    &__tel {
      grid-column: 3 / 5;
      justify-self: end;
    }
    &__items:nth-child(2),
    &__items:nth-child(3) {
      padding-left: 0;
    }
    &__title {
      margin-bottom: 0;
      padding: 16px 0;
    }
    &__list {
      display: none;
    }
  }
}
