%lato-regular-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%lato-medium-500 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%lato-semibold-600 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%lato-bold-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%lato-black-900 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
