@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "fonts";
@import "vars";
@import "reset";
@import "global";
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px 0;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  // background: rgb(238,174,202);
  a {
    font-size: 36px;
    color: darkviolet;
  }
}
.header-top {
  background: #f7f7f7;
  padding: 13px 0 12px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__slogan {
    color: #9c9c9c;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 0 28px;
  }
  &__user {
    display: none;
  }
}
.header-body {
  padding: 20px 0 22px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tel {
    @extend %lato-semibold-600;
    font-size: 25px;
    line-height: 30px;
  }
  &__form {
    max-width: 292px;
    width: 100%;
  }
  &__label {
    max-width: 292px;
    width: 100%;
    position: relative;
    .header-body__search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }
  &__input {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 8px 10px;
  }
  &__search {
    background: #1074eb;
    border-radius: 3px;
    padding: 3px 10px 5px;
    color: #fff;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }
  &__address {
    background: #ff9900;
    border-radius: 3px;
    @extend %lato-semibold-600;
    color: #fff;
    padding: 8px 14px 10px 15px;
  }
  &__user {
    background: #1074eb;
    border-radius: 3px;
    width: 37px;
    height: 37px;
    display: grid;
    place-items: center;
  }
}
.header-nav {
  &__inner {
    display: inline-flex;
  }
  .container {
    overflow: hidden;
  }
  &__catalog {
    display: flex;
    align-items: center;
    background: #1074eb;
    border-radius: 3px;
    @extend %lato-semibold-600;
    color: #fff;
    padding: 15px 20px 15px 15px;
    gap: 0 15px;
  }
  &__menu {
    display: inline-flex;
    align-items: center;
    padding: 18px 20px !important;
    gap: 0 23px;
    background: #f7f7f7;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 10px;
      height: 4px;
      background: #000;
    }
  }
}
.banner-slider {
  &__card {
    min-height: 500px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    background-size: cover;
  }
  &__item--first {
    background: url("../img/banner/bg-1.svg") center center no-repeat no-repeat;
    background-size: cover;
    padding: 53px 101px 53px 98px;
    .banner-slider__info {
      max-width: 325px;
    }
    .banner-slider__title {
      color: #383838;
    }
  }
  &__item--second {
    background: url("../img/banner/bg-2.png") center center no-repeat no-repeat;
    background-size: cover;
    padding: 70px 98px 77px;
    position: relative;
    .slick-arrow {
      padding: 0;
      font-size: 0;
      border: none;
      background: transparent;
      width: 55px;
      height: 55px;
      background: red;
      border-radius: 3px;
      cursor: pointer;
      display: grid;
      place-items: center;
      position: absolute;
      left: 0px;
      bottom: 0;
      z-index: 10;
      transform: translateY(-80px);
    }
    &:before {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba($color: #000, $alpha: 0.5);
    }
    .banner-slider__info {
      max-width: 482px;
      position: relative;
    }
    .banner-slider__title {
      color: #fff;
      margin-bottom: 15px;
      span {
        display: block;
        color: #fff;
        @extend %lato-black-900;
        font-size: 64px;
        line-height: 77px;
      }
    }
    .banner-slider__text {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 43px;
    }
  }
  &__item--third {
    background: url("../img/banner/bg-3.svg") center center no-repeat no-repeat;
    background-size: contain;
    padding: 25px 100px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "FUBAG";
      @extend %lato-black-900;
      font-size: 358px;
      line-height: 430px;
      text-align: center;
      color: rgba($color: #383838, $alpha: 0.05);
      left: -36px;
      bottom: 30px;
    }
    .banner-slider__info {
      max-width: 424px;
      position: relative;
    }
    .banner-slider__title {
      @extend %lato-black-900;
      font-size: 64px;
      line-height: 77px;
      text-transform: uppercase;
    }
  }
  &__title {
    @extend %lato-black-900;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #9c9c9c;
    margin-bottom: 51px;
  }
  &__details {
    display: inline-flex;
    background: #1074eb;
    border-radius: 3px;
    @extend %lato-semibold-600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 18px 50px;
  }
  .slick-arrow {
    padding: 0;
    font-size: 0;
    border: none;
    background: transparent;
    width: 55px;
    height: 55px;
    background: #1074eb;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 10;
    transform: translateY(-80px);
  }
  .slick-prev.slick-arrow {
    left: 303px;
  }
  .slick-next.slick-arrow {
    left: 368px;
  }
}
.products {
  padding: 50px 0;
}
.products-content {
  // background: #ff9900;
  width: 1140px;
  margin: 0 auto;
  &__item {
    // background: crimson;
    margin: 0 11px;
  }
  &__card,
  &__item {
    width: 263px;
  }
  .slick-arrow {
    padding: 0;
    font-size: 0;
    border: none;
    background: transparent;
    width: 43px;
    height: 43px;
    background: #1074eb;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    right: 0;
    top: -113px;
  }
  .slick-prev.slick-arrow {
    transform: translateX(-53px);
  }
  &__head {
    width: 100%;
    min-height: 263px;
    background: #f7f7f7;
    border-radius: 3px;
    display: grid;
    place-items: center;
    position: relative;
    .products-content__heart {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  &__img {
    mix-blend-mode: darken;
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 217px;
    padding-top: 20px;
  }
  &__code {
    @extend %lato-medium-500;
    font-size: 18px;
    line-height: 22px;
    color: #9c9c9c;
    margin-bottom: 7px;
    grid-column: 1 / 3;
  }
  &__name {
    font-size: 18px;
    line-height: 22px;
    // margin-bottom: 32px;
    margin-bottom: auto;
    grid-column: 1 / 3;
  }
  &__price {
    margin-top: auto;
  }
  &__price-new {
    @extend %lato-medium-500;
    font-size: 24px;
    line-height: 29px;
  }
  &__chart {
    grid-column: 2 / 3;
    justify-self: end;
    margin-top: auto;
  }
  &__add-cart {
    grid-column: 1 / 3;
    @extend %lato-semibold-600;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    align-self: flex-end;
    margin-top: 30px;
    background: #1074eb;
    border-radius: 3px;
    padding: 18px 0;
  }
}
.catalog {
  &__wrapper {
    padding: 50px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url("../img/catalog/bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 18px 0 13px;
  }
  &__content {
    max-width: 350px;
  }
  &__text {
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding-bottom: 23px;
    position: relative;
    margin-bottom: 34px;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100px;
      height: 1px;
      background: #fff;
    }
  }
  &__link {
    display: inline-flex;
    background: #fff;
    border-radius: 3px;
    padding: 18px 61px;
    @extend %lato-semibold-600;
    color: #1074eb;
  }
}
.advantage {
  padding: 50px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 262px;
    min-height: 250px;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  &__icon {
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(#ff9900, 0.15);
  }
  &__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  &__description {
    color: #9c9c9c;
  }
}
.breadcrumbs {
  padding: 20px 0 25px;
  &__list {
    display: flex;
    align-items: center;
    gap: 0 19px;
  }
  &__link {
    color: #9c9c9c;
  }
  &__item {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      right: -13px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/icons/arrow-right.svg") center center no-repeat;
      width: 5px;
      height: 10px;
    }
    &:last-child:after {
      content: none;
    }
  }
  &__item:last-child {
    .breadcrumbs__link {
      color: #383838;
    }
  }
}
.catalog-main {
  padding: 25px 0 50px;
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 263px) minmax(100px, 849px);
    // background: #ff9900;
    gap: 50px 30px;
  }
  &__nav {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
  }
  &__sort {
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: #9c9c9c;
    margin-left: auto;
  }
  &__sort-second {
    margin-left: 50px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // background: palevioletred;
    gap: 50px 0;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    margin: 0 32px;
    gap: 0 20px;
  }
  &__page {
    color: #9c9c9c;
  }
  &__page--active {
    color: #1074eb;
  }
  &__arrow {
    width: 43px;
    height: 43px;
    background: #1074eb;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
  &__filter {
    max-width: 263px;
    width: 100%;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 30px 20px;
    height: fit-content;
  }
  &__item + .catalog-main__item {
    margin-top: 10Q;
  }
  &__item {
    padding-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
    &:last-child {
      border-bottom: none;
    }
  }
  &__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price-from input,
  &__price-to input {
    width: 106px;
    background: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    padding: 13px;
  }
  &__label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0 10px;
    cursor: pointer;
  }
  &__label + .catalog-main__label {
    margin-top: 10px;
  }
  &__checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    transition: 1s;
  }
  &__check {
    width: 19px;
    height: 19px;
    background: url("../img/catalog/checkbox.svg") center center no-repeat;
  }
  &__checkbox:checked + .catalog-main__check {
    background: url("../img/catalog/checkbox-1.svg") center center no-repeat;
  }
}
.card {
  padding: 25px 0;
  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 555px));
    // background: darkorchid;
    gap: 0 30px;
  }
  &__info {
    background: #f7f7f7;
    border-radius: 3px;
    padding: 0 30px 23px 30px;
  }
  &__images {
    position: relative;
    .card__sale {
      top: 30px;
      left: 0;
      position: absolute;
    }
  }
  &__sale {
    background: #e92626;
    border-radius: 0px 3px 3px 0px;
    padding: 2px 16px 3px;
    color: #fff;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 1px;
    padding: 30px 0;
  }
  &__title {
    max-width: 395px;
    margin: 0;
    span {
      font-size: 36px;
      line-height: 43px;
      color: #9c9c9c;
    }
  }
  &__review {
    color: #9c9c9c;
  }
  &__code {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: #9c9c9c;
  }
  &__code-number {
    color: #383838;
  }
  &__code:nth-child(2) {
    margin: 0 auto 0 30px;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 0 30px;
    // display: none;
  }
  &__price-new,
  &__price-old {
    @extend %lato-medium-500;
    font-size: 36px;
    line-height: 43px;
  }
  &__price-old {
    text-decoration-line: line-through;
    color: #c9c9c9;
  }
  .jq-number {
    width: 120px;
    height: 45px;
    background: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    padding: 0;
    &__field {
      width: 100%;
      height: 100%;
      box-shadow: none;
      border: none;
      border-radius: 0;
      display: grid;
      place-items: center;
      // background: rgba(#ff9900, 0.15);
      input {
        padding: 0px;
        height: 100%;
        text-align: center;
        @extend %lato-regular-400;
        font-size: 16px;
        line-height: 19px;
        color: #1074eb;
      }
    }
    &__spin {
      position: absolute;
      top: 0;
      right: 0;
      width: 19px;
      height: 19px;
      user-select: none;
      text-shadow: none;
      cursor: pointer;
      text-shadow: none;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      background: none;
      top: 50%;
      transform: translateY(-50%);
      &::after {
        display: none;
      }
    }
    &__spin.minus {
      left: 13px;
      z-index: 1;
      background: url("../img/icons/minus.svg") center center no-repeat;
    }
    &__spin.plus {
      background: url("../img/icons/plus.svg") center center no-repeat;
      right: 13px;
    }
  }
  &__add {
    display: flex;
    align-items: center;
    gap: 0 10px;
    background: #1074eb;
    padding: 18px 80px;
    border-radius: 3px;
    @extend %lato-semibold-600;
    color: #fff;
  }
  &__span {
    color: #e92626;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: -13px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #e92626;
    }
  }
}
.card-info {
  padding: 25px 0;
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 555px) minmax(100px, 555px);
    gap: 30px;
  }
  &__specifications,
  &__description,
  &__review {
    background: #f7f7f7;
    border-radius: 3px;
    padding: 30px;
  }
  &__specifications {
    grid-column: 1 / 3;
  }
  &__heading {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      background: #c9c9c9;
      border-radius: 1px;
      height: 1px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: minmax(100px, 525px) minmax(100px, 525px);
    gap: 20px 30px;
  }
  &__item {
    max-width: 525px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: #9c9c9c;
  }
  &__span {
    font-size: 18px;
    line-height: 22px;
    color: #383838;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #9c9c9c;
    grid-column: 1 / 3;
  }
  &__items {
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr 1fr;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .slick-arrow {
    position: absolute;
    top: -84px;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #1074eb;
    display: grid;
    place-items: center;
    border-radius: 3px;
  }
  .slick-prev.slick-arrow {
    right: 40px;
  }
}
.buy {
  padding: 25px 0 100px;
}
.swiper {
  width: 100%;
  height: 356px;
}
// .swiper-slide {
//   background: #e92626;
// }
.contacts {
  padding: 25px 0;
  &__img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  &__body {
    padding-top: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
  }
}
.swiper-button-next {
  position: absolute;
  top: 113px;
  width: 43px;
  height: 43px;
  background: url("../img/icons/arrow-next.svg") center center no-repeat;
  background-color: #1074eb;
  border-radius: 3px;
}
.swiper-button-prev {
  position: absolute;
  top: 113px;
  width: 43px;
  height: 43px;
  background: url("../img/icons/arrow-prev.svg") center center no-repeat;
  background-color: #1074eb;
  border-radius: 3px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.contacts-info {
  padding: 25px 0 100px;
  &__inner {
    display: grid;
    gap: 0 30px;
    grid-template-columns: minmax(100px, 458px) minmax(100px, 652px);
  }
  &__heading {
    @extend %lato-medium-500;
    font-size: 24px;
    line-height: 29px;
    color: #9c9c9c;
    margin-bottom: 30px;
  }
  &__essential {
    padding: 30px;
    background: #f7f7f7;
    border-radius: 3px;
  }
  &__list {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      line-height: 22px;
      color: #383838;
      & + li {
        margin-top: 30px;
      }
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-bottom: 50px;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 0 20px;
        font-size: 18px;
        line-height: 22px;
        div {
          display: grid;
          place-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;
          box-shadow: 0px 8px 15px rgba(56, 56, 56, 0.2);
        }
      }
    }
  }
  &__communication {
    .contacts-info__list {
      display: flex;
      align-items: center;
      li + li {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
}
.footer {
  padding: 45px 0 50px;
  background: #383838;
}
.footer-body {
  padding-bottom: 25px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    max-width: 262px;
    width: 100%;
  }
  &__logo {
    display: inline-flex;
    margin-bottom: 25px;
  }
  &__tel,
  &__mail,
  &__time {
    display: flex;
    color: #fff;
    margin-bottom: 20px;
  }
  &__address {
    max-width: 245px;
    color: #9c9c9c;
  }
  &__items:nth-child(2),
  &__items:nth-child(3) {
    padding-left: 43px;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 20px;
  }
  &__list {
    li {
      & + li {
        margin-top: 10px;
      }
      a {
        color: #9c9c9c;
      }
    }
  }
  &__item + .footer-body__item {
    margin-top: 26px;
  }
  &__contact-us {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 0 10px;
    span {
      color: #9c9c9c;
      margin-left: 10px;
    }
  }
  &__support {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    gap: 0 10px;
    @extend %lato-semibold-600;
    background: #1074eb;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 30px;
  }
  &__accept {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 0;
    span {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      grid-column: 1 / 5;
    }
  }
}
.footer-copyright {
  padding-top: 25px;
  &__copyright {
    font-size: 12px;
    line-height: 14px;
    color: #9c9c9c;
  }
}
@import "media";
