@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "fonts";
@import "vars";
@import "reset";
@import "global";
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  a {
    font-size: 36px;
    color: darkviolet;
  }
}
.header-top {
  background: #f7f7f7;
  padding: 13px 0 12px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__slogan {
    color: #9c9c9c;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 0 28px;
  }
  &__user {
    display: none;
  }
}
.header-body {
  padding: 20px 0 22px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tel {
    @extend %lato-semibold-600;
    font-size: 25px;
    line-height: 30px;
  }
  &__form {
    max-width: 292px;
    width: 100%;
  }
  &__label {
    max-width: 292px;
    width: 100%;
    position: relative;
    .header-body__search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }
  &__input {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 8px 10px;
  }
  &__search {
    background: #1074eb;
    border-radius: 3px;
    padding: 3px 10px 5px;
    color: #fff;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }
  &__address {
    background: #ff9900;
    border-radius: 3px;
    @extend %lato-semibold-600;
    color: #fff;
    padding: 8px 14px 10px 15px;
  }
  &__user {
    background: #1074eb;
    border-radius: 3px;
    width: 37px;
    height: 37px;
    display: grid;
    place-items: center;
  }
}
.header-nav {
  &__inner {
    display: inline-flex;
  }
  .container {
    overflow: hidden;
  }
  &__catalog {
    display: flex;
    align-items: center;
    background: #1074eb;
    border-radius: 3px;
    @extend %lato-semibold-600;
    color: #fff;
    padding: 15px 20px 15px 15px;
    gap: 0 15px;
  }
  &__menu {
    display: inline-flex;
    align-items: center;
    padding: 18px 20px !important;
    gap: 0 23px;
    background: #f7f7f7;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 10px;
      height: 4px;
      background: #000;
    }
  }
}
.banner-slider {
  &__card {
    min-height: 500px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    background-size: cover;
  }
  &__item--first {
    background: url("../img/banner/bg-1.svg") center center no-repeat no-repeat;
    padding: 53px 101px 53px 98px;
    .banner-slider__info {
      max-width: 325px;
    }
    .banner-slider__title {
      color: #383838;
    }
  }
  &__item--second {
    background: url("../img/banner/bg-2.png") center center no-repeat no-repeat;
    background-size: cover;
    padding: 70px 98px 77px;
    position: relative;
    .slick-arrow {
      padding: 0;
      font-size: 0;
      border: none;
      background: transparent;
      width: 55px;
      height: 55px;
      background: red;
      border-radius: 3px;
      cursor: pointer;
      display: grid;
      place-items: center;
      position: absolute;
      left: 0px;
      bottom: 0;
      z-index: 10;
      transform: translateY(-80px);
    }
    &:before {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba($color: #000, $alpha: 0.5);
    }
    .banner-slider__info {
      max-width: 482px;
      position: relative;
    }
    .banner-slider__title {
      color: #fff;
      margin-bottom: 15px;
      span {
        display: block;
        color: #fff;
        @extend %lato-black-900;
        font-size: 64px;
        line-height: 77px;
      }
    }
    .banner-slider__text {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 43px;
    }
  }
  &__item--third {
    background: url("../img/banner/bg-3.svg") center center no-repeat no-repeat;
    background-size: contain;
    padding: 25px 100px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "FUBAG";
      @extend %lato-black-900;
      font-size: 358px;
      line-height: 430px;
      text-align: center;
      color: rgba($color: #383838, $alpha: 0.05);
      left: -36px;
      bottom: 30px;
    }
    .banner-slider__info {
      max-width: 424px;
      position: relative;
    }
    .banner-slider__title {
      @extend %lato-black-900;
      font-size: 64px;
      line-height: 77px;
      text-transform: uppercase;
    }
  }
  &__title {
    @extend %lato-black-900;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #9c9c9c;
    margin-bottom: 51px;
  }
  &__details {
    display: inline-flex;
    background: #1074eb;
    border-radius: 3px;
    @extend %lato-semibold-600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 18px 50px;
  }
  .slick-arrow {
    padding: 0;
    font-size: 0;
    border: none;
    background: transparent;
    width: 55px;
    height: 55px;
    background: #1074eb;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 10;
    transform: translateY(-80px);
  }
  .slick-prev.slick-arrow {
    left: 303px;
  }
  .slick-next.slick-arrow {
    left: 368px;
  }
}
.footer {
  padding: 45px 0 50px;
  background: #383838;
}
.footer-body {
  padding-bottom: 25px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    max-width: 262px;
    width: 100%;
  }
  &__logo {
    display: inline-flex;
    margin-bottom: 25px;
  }
  &__tel,
  &__mail,
  &__time {
    display: flex;
    color: #fff;
    margin-bottom: 20px;
  }
  &__address {
    max-width: 245px;
    color: #9c9c9c;
  }
  &__items:nth-child(2),
  &__items:nth-child(3) {
    padding-left: 43px;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 20px;
  }
  &__list {
    li {
      & + li {
        margin-top: 10px;
      }
      a {
        color: #9c9c9c;
      }
    }
  }
  &__item + .footer-body__item {
    margin-top: 26px;
  }
  &__contact-us {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 0 10px;
    span {
      color: #9c9c9c;
      margin-left: 10px;
    }
  }
  &__support {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    gap: 0 10px;
    @extend %lato-semibold-600;
    background: #1074eb;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 30px;
  }
  &__accept {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 0;
    span {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      grid-column: 1 / 5;
    }
  }
}
.footer-copyright {
  padding-top: 25px;
  &__copyright {
    font-size: 12px;
    line-height: 14px;
    color: #9c9c9c;
  }
}
@import "media";
